# Binaries for programs and plugins
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
# vendor/

# Go workspace file
go.work
go.work.sum

# Build cache
.gocache/

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
